genesis
sphinx==6.2.1
sphinx-autobuild
pydata_sphinx_theme
# For spelling
sphinxcontrib.spelling
# Type hints support
sphinx-autodoc-typehints
# Copy button for code snippets
sphinx_copybutton
# Markdown parser
myst-parser
sphinx-subfigure
sphinxcontrib-video
sphinx-togglebutton
sphinx_design
psutil
scikit-image
taichi == 1.7.2
pydantic == 2.7.1
numpy == 1.26.4
six
PyOpenGL
freetype-py
pyglet
libigl
pygltflib
mujoco
pycollada
opencv-python
lxml
tetgen
screeninfo
PyGEL3D
moviepy
numba
pymeshlab
pymeshfix